<footer>
    <div class="footer-background-text">epilogue</div>
    <div class="company-info">
        <div class="company-name">주식회사 에필로그</div>
        <div class="company-details">대표자: 강서현, 설유진, 이수나, 장하리, 조은비, 한수예</div>
        <div class="company-details">이메일: epilogue.global@gmail.com</div>
        <div class="company-details">주소: 57 St Joseph St, Toronto, Ontario, M5S 0C5</div>
    </div>
    <div class="policy-links">
        <a href="#" class="policy-link">개인정보처리방침</a>
        <a href="#" class="policy-link">서비스이용약관</a>
    </div>
    <div class="social-links">
        <div class="social-link">
            <img src="images/footer/imageMail.png" alt="메일" class="social-icon">
        </div>
        <div class="social-link">
            <img src="images/footer/imageInsta.png" alt="인스타그램" class="social-icon">
        </div>
        <div class="social-link">
            <img src="images/footer/imageLinkedin.png" alt="링크드인" class="social-icon">
        </div>
    </div>
    <div class="copyright">Copyright © 2025 Epilogue. All rights reserved.</div>
</footer>